.text-field {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--input-margin-bottom);
}

.text-field label {
	flex: 1 0 100%;
}

.text-field input {
	flex: 1 0 100%;
	width: 100%;
	padding: var(--input-padding);
	border-radius: 5px;
}

.text-field input:focus {
	outline: none;
	border: 3px solid var(--primary-color);
}

div[data-lastpass-icon-root] {
	display: none;
}
