.login-main{
    background: var(--bg-color-secondary);
    border-radius: 13px;
    overflow: hidden;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);*/
}
.login-main .form-container{
    width: 70%;
    min-width: 280px;
    padding: 20px 0;
}

.login-main .cr7-img{
    object-position: top;
}

.login-main .img-container{
    height: 150px;
}

@media screen and (min-width: 992px) {
    .login-main {
        min-width: 720px;
        max-width: 720px;
        height: 90%;
    }
    .login-main .img-container{
        height: 100%;
    }
    .login-main .form-container{
        /*flex: 0;*/
    }
}