
.form-page main, main.box-main, main.large-box-main {
  background: var(--bg-color-secondary);
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.form-page .form-container {
  width: 100%;
  padding: 20px 0;
}
.form-page .front-img-container {
  height: 150px;
}

@media screen and (min-width: 992px) {
  main.large-box-main {
    min-width: 720px;
    max-width: 1000px;
    height: 90vh;
    width: 80%;
  }
  .form-page .front-img-container {
    height: 100%;
  }
}
