.field-col{
    background-color: var(--bg-color-main);
}
.value-col{
    border: 2px solid var(--bg-color-main);
    border-top: 1px;
}

.field-col, .value-col{
    padding: 4px 8px;
}

.field-value-row:first-child .field-col{
    border-top-left-radius: 5px;
}
.field-value-row:first-child .value-col{
    border: 2px solid var(--bg-color-main);
    border-top-right-radius: 5px;
}
.field-value-row:last-child .field-col{
    border-bottom-left-radius: 5px;
}
.field-value-row:last-child .value-col{
    border-bottom-right-radius: 5px;
}