#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.page-wrapper {
	/*height: 100%;*/
	width: 100%;
}

.theme-btn {
	background: none;
	border: none;
	aspect-ratio: 1;
	border-radius: 100%;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}

.App .message {
	padding: 10px 15px;
	border-radius: 5px;
}
