*{
  color: inherit;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.App{
  /* BG */
  --bg-color-main: #242424;
  --bg-color-secondary: #111;

  /* TEXT */
  --text-color-main: #fff;
  --text-color-muted: #aaa;
  --text-color-button: #fff;

  /* BTN */
  --btn-color-primary: #1a1a1a;
}

.App.light{
  /* BG */
  --bg-color-main: #fff;
  --bg-color-secondary: #eee;

  /* TEXT */
  --text-color-main: #000;
  --text-color-button: #000;

  /* BTN */
  --btn-color-primary: #ddd;
}

.App{
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

.App .btn, .App button{
  background-color: var(--btn-color-primary);
  color: var(--text-color-button);
}